html {
	scroll-behavior: smooth;
	/* scroll-snap-type: y proximity; */
}
body{
	font-family: 'Mulish', sans-serif;
}
section{
	scroll-snap-align: start;
	scroll-snap-stop: normal;  	
	overflow: hidden;
}

a svg, a img{
	-webkit-transition:  0.1s linear all;
	-o-transition:  0.1s linear all;
	transition:  0.1s linear all;
}

a:hover svg, a:hover img{
	-webkit-filter: brightness( 127% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate(0deg );
	filter: brightness( 127% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate(0deg );
	-webkit-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px);
	-webkit-transition:  0.1s linear all;
	-o-transition:  0.1s linear all;
	transition:  0.1s linear all; 
}

html, body {
	position: relative;
	height: 100%;
	color: #fff;
}

#logo {
	z-index: 99999;	
	padding: 10px;
	right: 0;
	display: flex;
	align-items: center;
	grid-column-gap: 10px;
	transition: 0.3s linear all; 
}
#logo > *{
	transition: 0.3s linear all; 
}
#logo p{
	margin-bottom: 0;
}
#logo [class*='btn-']{
	cursor: pointer;
}
#logo img{
	cursor: pointer;
	width: 70px;
	height: auto;
	filter: contrast(0%) brightness(12.5);
}
.swiper {
	width: 100vw;
	height: 100vh;	
	background: #000; 
}

.swiper-slide {
	
}
.swiper-slide .card{
	border: unset;
	overflow: hidden;
	border-radius: 0;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	background-color: rgba(0, 0, 0, 0.65);
}
.swiper-pagination-bullet{
	background: #fff;
}
.swiper-pagination-bullet[aria-label="Go to slide 3"]{
	display: none!important;
}

/* CHƯA SÀI */
#menu {
	z-index: 1;
	background-color: rgba(0,0,0,0.15)!important ;
	border-right: 1px solid rgba(255,255,255,0.10);
	height: 100vh;
	width: 80px;
	position: absolute;
	top: 0;
	left: auto;
	display: none;
}
#menu .navbar-nav {
	flex-direction: column!important;
	width: 100%;
	background: #212121;
}
/* END - CHƯA SÀI */


span.swiper-pagination-bullet {
	display: flex!important;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	margin: 0!important;
	padding: 5px 0;
	background: transparent;    
	position: relative;
}
span.swiper-pagination-bullet > span.vi, span.swiper-pagination-bullet > span.en {
	color: #fff;
	font-size: 20px;
	white-space: nowrap;
	line-height: 1;
}
span.swiper-pagination-bullet > span.stt{
	width: 100%;
	border-right: 1px solid transparent;
	transition: 0.2s linear all; 
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active > span.stt{
	border-right: 1px solid #cdb083;
	transition: 0.2s linear all; 
}
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets{
	font-family: 'Alegreya', serif;

	left: 0;
	right: unset;
	background-color: rgba(0,0,0,0.15)!important;
	border-right: 1px solid rgba(255,255,255,0.10);
	height: 100vh;
	width: 80px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	counter-reset: section;
	transition: 0.2s linear all; 
}
span.swiper-pagination-bullet > span.stt::before{
	counter-increment: section;
	content: counter(section, decimal-leading-zero);
	font-size: 40px;
}
span.swiper-pagination-bullet > span.vi, span.swiper-pagination-bullet > span.en {
	position: absolute;
	left: 100%;
	opacity: 0;
	height: 100%;
	padding-left: 0px;
	display: flex;
	align-items: center;
	transition: 0.2s linear all; 
}
.swiper-vertical > .swiper-pagination-bullets:hover{
	width: 100px;
	background-color: rgb(0 0 0 / 50%)!important;
	transition: 0.2s linear all; 
}
.swiper-vertical > .swiper-pagination-bullets span.swiper-pagination-bullet{
	transition: 0.2s linear all; 
}
.swiper-vertical > .swiper-pagination-bullets span.swiper-pagination-bullet:hover{
	opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
	transition: 0.2s linear all;
}
.swiper-vertical > .swiper-pagination-bullets:hover span.swiper-pagination-bullet > span.vi, 
.swiper-vertical > .swiper-pagination-bullets:hover span.swiper-pagination-bullet > span.en{
	text-transform: capitalize;
	letter-spacing: 1px;
	padding-left: 20px;
	padding-right: 20px;
	background: #000000cc;
	border-radius: 0 90px 90px 0; 
	opacity: 1;
	transition: 0.2s linear all; 
}

/* SLIDER INTRO */

#intro .content {
	top: 50%;
	right: 20%;
	transform: translateY(-50%);    
	max-width: 42%;
}
#intro .content > div{
	font-weight: 100;
	font-size: 70px;
	line-height: 1;
	text-transform:  uppercase; 
}
#intro .content > div:nth-child(1){
	line-height: 1.5 !important;
	text-shadow: 2px 0 4px #02010b, -2px 0 4px #02010b, 0 2px 4px #02010b, 0 -2px 4px #02010b, 1px 1px #02010b, -1px -1px 4px #02010b, 1px -1px 4px #02010b, -1px 1px 4px #02010b;
}

#intro .content > div:nth-child(1),
#show_projects .content > div:nth-child(2) {
	font-size: 18px;
	color: #9d9d9d;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 50px;
}
#intro .content > div:nth-child(1) strong {
	color: #fff;
}
#intro .content > div:nth-child(2){
	color: #fff;
}
#intro .content > div:nth-child(3){
	color: #00FFDE;		
}
.content button{	
	padding: 10px 35px;
	margin-top: 100px;
	border-radius: 90px;
	border: 1px solid #9d9d9d;
	background: transparent;
	transition: 0.2s linear all;  
}
.content button, .content button a{
	font-size: 15px;
	color: #fff;
	font-weight: 700; 
	text-transform: uppercase; 
	text-decoration: none; 
}
.content button:hover, .content button:active, .content button:focus{
	background: transparent;
	border: 1px solid #fff;
	transition: 0.2s linear all;  
}
#intro .content button{
	margin-top: 50px;
}

/* END - SLIDER INTRO */
.overlay-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #00000080;
}

.content.overlay-bg-2 {
	right: 0!important;
	left: unset!important;
	text-align: end;
	padding: 100px;
	max-width: 650px!important;
	background: #0000008c;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	align-items: center;
	align-content: center;
}
.overlay-bg-white {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ffffffc2;
}
#intro_projects .content {
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);  
	width: 50%;  
}
#intro_projects .album {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#intro_projects .album > img {
	/* width: calc(33.33% - 10px); */
	flex: max(220px, 100%/3 - 20px);
	height: 140px;
	transition: 0.1s linear all; 
}
#intro_projects .album img, .mySwiper_thumnail .swiper-slide img{
	cursor: pointer;
	transition: 0.8s linear all; 
}
.mySwiper_thumnail .swiper-slide img{
	filter: grayscale(1);
	transition: 0.8s linear all; 
}
#intro_projects .album img:hover, .mySwiper_thumnail .swiper-slide img:hover,
.mySwiper_thumnail .swiper-slide.swiper-slide-visible.swiper-slide-thumb-active img{
	scale: 0.8;
	transition: 0.8s linear all; 
}
#intro_projects .album img:hover{
	filter: brightness( 60% );
	transition: 0.8s linear all; 
}
.mySwiper_thumnail .swiper-slide img:hover, 
.mySwiper_thumnail .swiper-slide.swiper-slide-visible.swiper-slide-thumb-active img{
	filter: grayscale(0);
	transition: 0.8s linear all; 
}


#intro_projects .content > .title{
	font-size: 18px;
	color: #9d9d9d;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase; 
}
#intro_projects .content > .title strong{
	color:  #fff;
}



#show_projects .content {
	top: 50%;
	left: 20%;
	transform:  translateY(-50%); 
	width: 470px;
	overflow: hidden;
}
#show_projects .content.position-absolute.overlay-bg-2{
	width: 650px;
}
#show_projects .content > div{
	width: 100%;
}
#show_projects .content > div:nth-child(1),
#contact .content > div:nth-child(1),
#contact .content > div:nth-child(2){
	font-weight: 100;
	font-size: 55px;
	line-height: 1.3;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#show_projects .content > div:nth-child(2){
	text-transform: uppercase;
}
#show_projects .content > div:nth-child(3){
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
}
#show_projects .content > div:nth-child(3),
#contact .content > div:nth-child(3){
	font-size: 18px;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 300;
	line-height: 2;
}
.swiper.mySwiper_thumnail {
	position: absolute;
	right: 20px;
	bottom: 20px;
	max-width: 460px;
	height: 87px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.65);
}
.mySwiper > .swiper-wrapper{
	height: auto;
}
.swiper.mySwiper_thumnail .swiper-wrapper{
	cursor: pointer;
	width: 100%;
	height: 100%;
}

#contact .cont {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	overflow: hidden;
	align-items: center;
}
#contact .cont .content{

}
#contact .cont > div:nth-child(1) {
	padding-right: 5%;
}
#contact .cont > div:nth-child(2) {
	padding-left: 5%;
}

#contact *, #contact .content > div a{
	color: #000;
}
#contact .content > div:nth-child(1){

}
#contact .content > div:nth-child(2){
	color: #fff;
	background: #000;
	width: fit-content;
	padding: 5px 10px;
}
#contact .content > div:nth-child(3) {
	margin: 50px 0 30px;
	color: #000;
}
#contact .content > div:nth-child(4){
	font-weight: 300;
}
#contact .content > div:nth-child(4) p {
	margin-bottom: 5px;
}
#contact .content > div:nth-child(4) i {
	margin-right: 10px;
	width: 18px;
}
#contact .content > div:nth-child(4) a:hover{
	text-decoration: underline!important ;
}

.frame-register form {
	max-width: 500px;
	margin: auto;
}
.frame-register form label{
	margin-bottom: 0;
	font-size: 18px;
}
.frame-register form .form-group {
	margin-bottom: 1.5rem;
}
.frame-register input.form-control {
	border: 0px;
	border-bottom: 2px solid #0000002b;
	border-radius: 0;
	font-weight: 700;
	font-size: 20px;
	background-color: transparent; 
	-webkit-transition: 0.1s linear all; 
	-o-transition: 0.1s linear all; 
	transition: 0.1s linear all; 
}
.frame-register input.form-control::-webkit-input-placeholder{
	font-weight: 500;
	color: #0000002b; 
}
.frame-register input.form-control::-moz-placeholder{
	font-weight: 500;
	color: #0000002b; 
}
.frame-register input.form-control:-ms-input-placeholder{
	font-weight: 500;
	color: #0000002b; 
}
.frame-register input.form-control::-ms-input-placeholder{
	font-weight: 500;
	color: #0000002b; 
}
.frame-register input.form-control::placeholder{
	font-weight: 500;
	color: #0000002b; 
}
.frame-register input.form-control:focus {
	border: 0px;
	border-bottom: 2px solid #000000;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.frame-register button{
	margin: auto;
	display: block;
}
.frame-register button:hover, .frame-register button:active, .frame-register button:focus{
	border: 1px solid #000; 
}
.register-successful {
	color: #3c763d!important ;
	background: #dff0d8;
	border: 1px solid #d6e9c6;
	text-align: center;
	width: fit-content;
	padding: 10px 50px;
	margin: auto;
	margin-top: 30px;
}
.frame-register [id*="-error"] {
    font-style: italic;
    color: #f44336!important;
    font-size: 16px;
    margin-top: 3px;
}

@media(max-width: 1366px){
	#intro .content {
		right: 10%;
	}
	#intro_projects .album > img {
		height: 115px;
	}
	#intro .content > div:nth-child(1), #show_projects .content > div:nth-child(2){
		margin-bottom: 30px;
	}
	.content button{
		margin-top: 50px;
	}
	.swiper.mySwiper_thumnail{
		height: 70px;
		padding: 15px
	}
	
	#show_projects .content > div:nth-child(1), #contact .content > div:nth-child(1), #contact .content > div:nth-child(2){
		font-size: 45px;
	}
}

@media(max-width: 1024px){
	#logo{
		grid-column-gap: 20px;
	}
	#intro .content {
		right: 5%;
		max-width: 50%;
	}
	.swiper.mySwiper_thumnail {
		height: 100px;
		padding: 20px;
		max-width: 75%;
	}
	#show_projects .content > div:nth-child(1), #contact .content > div:nth-child(1), #contact .content > div:nth-child(2) {
		font-size: 40px;
	}
	#intro .content > div:nth-child(1), #show_projects .content > div:nth-child(2) {
		margin-bottom: 50px;
	}
	#show_projects .content{
		left: 25%;
	}
	.content button {
		margin-top: 100px;
	}
}

@media(max-width: 768px), (max-width: 930px) and (orientation: landscape){
	.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
		width: 100vw;
		height: 80px;
		top: 0;
		transform: unset;
		flex-wrap: nowrap;
		justify-content: left!important;
	}
	.swiper-vertical > .swiper-pagination-bullets:hover {
		width: 100vw;
		transition: 0.2s linear all;
	}
	span.swiper-pagination-bullet {
		width: auto;
		padding: 0 15px;
		width: auto;
		height: 100%;
	}
	span.swiper-pagination-bullet > span.stt::before{
		font-size: 30px;
	}
	span.swiper-pagination-bullet > span.stt{
		border-bottom: 1px solid transparent;
		border-right: unset;
		transition: 0.2s linear all;
	}
	span.swiper-pagination-bullet.swiper-pagination-bullet-active > span.stt {
		border-bottom: 1px solid #cdb083;
		border-right: unset;
		transition: 0.2s linear all;
	}
	span.swiper-pagination-bullet > span.vi, span.swiper-pagination-bullet > span.en{
		display: none!important ;
	}
	.swiper-vertical > .swiper-pagination-bullets:hover span.swiper-pagination-bullet > span.vi, 
	.swiper-vertical > .swiper-pagination-bullets:hover span.swiper-pagination-bullet > span.en {	
		padding-left: 0px;
		left: 50%;
		transform: translateX(-50%);
		bottom: -60px;
	}

	#intro .content, #intro_projects .content{	    
		top: 50%;
		right: unset;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#intro .content, #intro_projects .content{
		max-width: 100%;
		width: 90%;
	}
	#show_projects .content{
		width: 60% ;
		left: 50%!important ;
		transform: translate(-50%, -50%); 
	}
	
	#intro .content > div:nth-child(1), #show_projects .content > div:nth-child(2){
		margin-bottom: 30px;
	}
	.content button{
		margin-top: 50px;
	}
	.swiper.mySwiper_thumnail{
		height: 70px;
		padding: 15px;
		max-width: 95%;
	}
	#contact .cont{
		width: 90%;
		margin: auto;
	}
}

@media(max-width: 767px){
	#logo img{
		width: 60px;
	}

	#intro .content > div {
		font-size: 40px;
	}
	#intro_projects .album > img {
		flex: max(100px,100%/2 - 20px);
		height: 80px;
		transition: 0.1s linear all;
	}
	#show_projects .content > div:nth-child(1){
		font-size: 35px;
	}
	
	#contact .content > div:nth-child(1), #contact .content > div:nth-child(2) {
		font-size: 30px;
	}
	.content button, .content button a{
		font-size: 13px;
	}
	.content button {
		padding: 8px 30px;
	}
	#show_projects .content {
		width: 90%;
	}
	#show_projects .content.position-absolute.overlay-bg-2 {
		width: 100%;
		padding: 50px 15px;
	}
	.swiper.mySwiper_thumnail {
		height: 100px;
		padding: 20px;
	}
	#show_projects .content > div:nth-child(3){
		-webkit-line-clamp: 13;
	}
	#show_projects .content > div:nth-child(3), #contact .content > div:nth-child(3), .frame-register form label {
		font-size: 16px;
	}
	
	#contact .cont > div{
		padding: 0!important ;
	}
	#contact .content > div:nth-child(3) {
		margin: 20px 0 10px;
	}
	#contact .cont > div:nth-child(2) {
		margin-top: 30px;
	}
	#contact .content button {
		margin-top: 0px;
	}
}

@media(max-width: 930px) and (orientation: landscape){
	#logo img{
		width: 30px;
	}
	.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets{
		height: 50px;
	}
	#intro .content > div{
		font-size: 30px;
	}
	#intro .content button {
		margin-top: 30px;
	}
	#intro .content, #intro_projects .content, #contact .content{
		top: 60%;
	}
	#intro_projects .album > img {
		height: 60px;
	}
	#show_projects .content{
		top: 45%;
	}
	#show_projects .content > div:nth-child(1), #contact .content > div:nth-child(1), #contact .content > div:nth-child(2) {
		font-size: 25px;
	}
	#contact .content > div:nth-child(3) {
		margin: 10px 0 10px;
	}
	#show_projects .content > div:nth-child(3) {
		-webkit-line-clamp: 3;
	}
	#intro .content > div:nth-child(1), #show_projects .content > div:nth-child(2) {
		margin-bottom: 10px;
	}
	.content button {
		margin-top: 20px;
	}
	.swiper.mySwiper_thumnail {
		height: 60px;
		padding: 10px;
		bottom: 10px;
	}
	#contact .cont{
		width: 90%;
		margin: auto;
	}
	#contact .content > div:nth-child(3) {
		margin: 20px 0 10px;
	}
	#contact .cont > div:nth-child(2) {
		margin-top: 30px;
	}
	#contact .content > div:nth-child(3), .frame-register form label {
		font-size: 14px;
	}
	#contact .content > div:nth-child(1), #contact .content > div:nth-child(2) {
		font-size: 20px;
	}
	.content button, .content button a {
		font-size: 13px;
	}
}